bin
README.pos*
tags.python
etc/wsgi
etc/init.d
*egg-info
*pyc
develop-eggs/
etc/apache/100-makina.fixmystreet.reverseproxy.conf
etc/forespir.env
etc/hudson/makina.fixmystreet/build/activate_env.sh
etc/hudson/makina.fixmystreet/config.xml
etc/makina.fixmystreet.env
!etc/sys
.installed.cfg
minilays/
.minitage
minitage.buildout-dev.cfg.before.fixed_version.bak*
.mr.developer.cfg
parts
src.mrdeveloper/*
!src.mrdeveloper/zopelib
sys
!etc/sys
t
var
src.mrdeveloper/zopelib/zopelib.egg-info
etc/logrotate.conf
etc/sys/settings-prod.cfg

