[minitage]
location=${buildout:directory}/../..

# site-packages
# the path to find the libxml2 python bindings, maybe your global site-packages?
[libxml2]
site-packages=${minitage:location}/eggs/py-libxml2-2.7/parts/site-packages-2.7
[libxslt]
site-packages=${minitage:location}/eggs/py-libxslt-1.1/parts/site-packages-2.7
[pyqt]
site-packages= 


[python2.7]
executable=${buildout:directory}/../../dependencies/python-2.7/parts/part/bin/python
python=python2.7
name=python2.7

[buildout]
python=python2.7
find-links+= http://distfiles.minitage.org/public/externals/minitage/
eggs-directory=${minitage:location}/eggs/cache
extra-paths+=
    ${libxml2:site-packages}
    ${libxslt:site-packages}


[versions]
# bin/buildout -Nvvvvv |sed -ne "s/.*satisfies '//p" |sed -re "s/==/=/g"| sed -re "s/'.//g"|sort | uniq
# the one packaged in minitage !
PIL  = 1.1.7

[scripts]
includes-dirs=
    ${minitage:location}/dependencies/cairo-1.12/parts/part/include/cairo


[scripts]
Django-patches=${buildout:directory}/postgis-adapter-2.patch
Django-patch-options=-Np0

[instance]
Django-patches=${scripts:Django-patches}
Django-patch-options=${scripts:Django-patch-options}


[scripts]
executable=${python2.7:executable}
# vim:set ft=cfg:

